// 按钮

.van-button--primary {
  background: linear-gradient(54deg,rgba(245,92,60,1) 0%,rgba(246,96,62,1) 17%,rgba(221,11,17,1) 100%);
  border-radius: 50px;
  border: none;
}

.van-checkbox {
  .van-checkbox__icon--checked {
    .van-icon {
      background-color: #E83F44;
      border-color: #E83F44;
    }
  }
}

.van-sku__close-icon {
  font-size: 29px;
  top: -3vw;
  right: 3.6vw;
}
// 设置我的推广的样式

.suwis-popularize {
  .van-tabs__wrap {
    width: 40%;
  }
}

.van-dialog__confirm {
  background: linear-gradient(54deg,rgba(245,92,60,1) 0%,rgba(246,96,62,1) 17%,rgba(221,11,17,1) 100%);

  .van-button__text {
    color: #fff;
  }
}
// 设置对话框标题和内容间距

.van-dialog {
  .van-dialog__header {
    margin-bottom: 18px;
  }
}

.van-actionsheet__close {
  font-size: 29px;
}
//

.van-sku-container {
  padding-top: 28px;
  border-radius: 8px 8px 0 0;
}

.van-sku-header__img-wrap img {
  border-radius: 4px;
}
.van-overflow-hidden {
    position:fixed;
    // top:0;
    height: 100%;
    overflow: hidden;
}